<div class="footer row">
  <div class="col s12">
    <h6>If you have any feedback, suggestions or issues,
        send them through to my email.
    </h6>
    <div class="row">
      <div class="col s12">
          <h6 class="text-center"><span>runners4tme @gmail.com</span></h6>
      </div>
    </div>
  </div>
</div>
