<footer class="page-footer">
  <div class="container">
   <div class="row">
     <div class="col s12">
       <h4>Get In Touch</h4>
       <h6>If you want to be part of the second version which will be about morden cryptocurrency,
           contact me on the following medium of communications!
       </h6>
       <div class="row">
         <div class="col l4">
             <i class="col l12 fa fa-2x fa-whatsapp"></i>
             <h6 class="col l12"> +2771 160 9035</h6>
         </div>
         <div class="col l4">
             <i class="col l12 fa fa-2x fa-at"></i>
             <h6 class="col l12">runners4tme @gmail.com</h6>
         </div>
         <div class="col l4">
             <i class="col l12 fa fa-2x fa-twitter"></i>
             <h6 class="col l12">@runners4tme</h6>
         </div>
       </div>
     </div>
  </div>
</div>

</footer>
