<div class="row footer">
  <div class="col s12">
    <h4>Connect With Me</h4>
    <h6>If you want to be part of the second version which will be about morden cryptocurrency,
        Hit me up on the following medium of communications!
    </h6>
    <div class="row">
      <div class="col l4">
        <i class="fa fa-2x fa-whatsapp"></i>
        <h6>+2771 160 9035</h6>
      </div>
      <div class="col l4">
        <i class="fa fa-2x fa-at"></i>
        <h6>runners4tme@gmail.com</h6>
      </div>
      <div class="col l4">
        <i class="fa fa-2x fa-twitter"></i>
        <h6>@runners4tme</h6>
      </div>
    </div>
  </div>
</div>
