<div class="row footer">
  <div class="col s12">
    <h4>Contact Us!</h4>
    <h5>If you want to be part of the second version which will be about morden cryptocurrency,
        Hit me up on the following medium of communications!
    </h5>
    <h6>What's app</h6>
    <h6>+2771 160 9035</h6>
    <h6>E-mail</h6>
    <h6>runners4tme@gmail.com</h6>
  </div>
</div>
