<head>
  <title>ProtonBase</title>
  <link rel="stylesheet" href="/libs/materialize/dist/js/materialize.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/crypto.css' />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Cormorant+Garamond|Electrolize|Stardos+Stencil|VT323" rel="stylesheet">
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
