<head>
  <title>ProtonBase</title>
  <link rel="stylesheet" href="/libs/materialize/dist/css/materialize.css">
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/crypto.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Bungee+Inline|Bungee+Shade|Cinzel|Cormorant+Garamond|Electrolize|Kumar+One|Rancho|Special+Elite|Squada+One|Stardos+Stencil|VT323" rel="stylesheet">
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
