<ul id="dropdownMenu" class="dropdown-content">
  <li><a href="/cryptography/transposition">Transposition Cipher</a></li>
  <li><a href="/cryptography/Vigenere">Vigenere Cipher</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a id="title" href="/" class="brand-logo">ProtonBase</a>
    <a id="hamburger" href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-reorder"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/cryptography/affine">Affine Cipher</a></li>
      <li><a href="/cryptography/caeser">Caeser Cipher</a></li>
      <li><a href="/cryptography/substitution">Substitution Cipher</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdownMenu"><i class="fa fa-chevron-down"></i></a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/cryptography/affine">Affine Cipher</a></li>
      <li><a href="/cryptography/caeser">Caeser Cipher</a></li>
      <li><a href="/cryptography/substitution">Substitution Cipher</a></li>
      <li><a href="/cryptography/transposition">Transposition Cipher</a></li>
      <li><a href="/cryptography/Vigenere">Vigenere Cipher</a></li>
    </ul>
  </div>
</nav>
