<div class="info">
  <div class="col s12">
    <h3>The History Of Cryptography.</h3>
  </div>
</div>
<div class="ciphers">

  <h3>Cryptography</h3>


  <div class="row">
      <p class="descriptionBody col s8 offset-s2">
        <b>Cryptography</b> is the fusion of security engineering and mathematics.
        It refers to the science and art of designing ciphers.
        A <b>cryptographer</b> is a person who uses and design ciphers.
        <b>Cryptanalysis</b> is the science and art of breaking these ciphers and
        A <b>cryptanalyst</b> is a person who can hack secret codes and read other people’s encrypted messages.
        A cryptanalyst can do hack an encrypted message by identifying patterns in the message, in order
        to be produce a decryption algorithm or simply find general weakness in an encryption algorithm,
        without necessarily having intercepted the actual message.
        Cryptanalysts are also called <b>hackers</b>.
      </p>
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="col s12 m6 l6">
            <h6 class="exampleHeader"><b>Plaintext</b></h6>
            <p class="exampleBody">
              The harpoon was darted; the stricken whale Yew forward; with igniting velocity the line ran through the grooves;—ran foul.
              Ahab stooped to clear it; he did clear it; but the Yying turn caught himround the neck,
              and voicelessly as Turkish mutes bowstring their victim, he was shot out of the boat, ere the crew knew he was gone.
            </p>
          </div>
          <div class="col s12 m6 l6">
            <h6 class="exampleHeader"><b>Ciphertext</b></h6>
            <p class="exampleBody">
              Tan ehrnlww tvihnnotrsnlao lie r tytctr n vlyTstoihvm sof , ckhsehr ddei e awiietee uho;
              .botet c bhiua oteaoe uhewnei,whu b trne .epwa; cw frignly tgeo—f poa;dliuenruhuhcnisar ssgic
              aottoehee g oar skhYodtngo lrhh vroAse r iett gnginekdcsskm t rthst harewwwohosttteaer;hi ctiar
              geauhtdc hda; Y hmd , el iubrt ie oete an
              </p>
          </div>
        </div>

      </div>
      <p p class="descriptionBody col s8 offset-s2">
         The message that is in plain English is called <b>plaintext</b> and the encrypted message is called a <b>ciphertext</b>.
         The plaintext above on right hand side has been encrypted with a transposition cipher.
         The ciphertext is impossible to read the message unless you know know how the decrypt it.
         It is just random letters with no meaning whatsoever.
         Encrypting your written messages is one way to keep them secret from other people, even if they
         get their hands on the encrypted message itself. They won't be able to understand it.
      </p>
      <p class="descriptionBody col s8 offset-s2">
        A <b>cipher</b> is a set of rules for converting between plaintext and ciphertext.
        These rules often use a secret key. This key is called an encryption key.
        The encryption key is the secret to encrypting or decrypting the message.
        Block ciphers may either have one key for both encryption and decryption, in which
        case they’re called shared key, or have separate keys for encryption and
        decryption, in which case they’re called public key or asymmetric.
        <b>Please not that encrypting more than once does not provide additional strength to the cipher for most of these ciphers.</b>
        We are going to explore 5 ciphers that were used ages ago and easy to hack with modern computers.
       </p>
  </div>

  <h3>Ciphers</h3>

  <div class="row">
    <div class="col l4">
      <div class="cipher">
          <h2><a href="/cryptography/affine">Affine Cipher</a></h2>
      </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/caeser">Caeser Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/vigenere">Vigenere Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/subsdtitution">Substitution Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/transposition">Transposition Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a <a href="https://www.wikipedia/ciphers">Resources and Other Ciphers</a></h2>
    </div>
    </div>
  </div>
</div>
