<div class="info">
  <div class="col s12">
    <h3>The History Of Cryptography.</h3>
  </div>
</div>
<div class="ciphers">

  <h3>Ciphers</h3>

  <div class="row">
    <div class="col l4">
      <div class="cipher">
          <h2>Affine Cipher</h2>
      </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2>Caeser Cipher</h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2>Vigenere Cipher</h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2>Substitution Cipher</h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2>Transposition Cipher</h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2>Resources and Other Ciphers</h2>
    </div>
    </div>
  </div>
</div>
