<div class="info">
  <div class="col s12">
    <h3>The History Of Cryptography.</h3>
  </div>
</div>
<div class="ciphers">

  <h3>Ciphers</h3>

  <div class="row">
    <div class="col l4">
      <div class="cipher">
          <h2><a href="/cryptography/affine">Affine Cipher</a></h2>
      </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/caeser">Caeser Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/vigenere">Vigenere Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/subsdtitution">Substitution Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a href="/cryptography/transposition">Transposition Cipher</a></h2>
    </div>
    </div>
    <div class="col l4">
      <div class="cipher">
      <h2><a>Resources and Other Ciphers</a></h2>
    </div>
    </div>
  </div>
</div>
