<!DOCTYPE html>
<html>

  <% include ./components/head %>

  <body>

    <% include ./components/header %>

    <% include ./components/info %>

    <% include ./components/scripts %>

  </body>
</html>
