/**Ciphers**/
.ceaser, .transposition, .affine, .substitution, .vigenere {
  padding: 15px 0 15px 0;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}
.description {
  padding: 15px 0 15px 0;
}
.descriptionBody {
  text-align: left;
}
.descriptionBody::first-letter {
  font: bold 150% / .8  'Allerta Stencil', sans-serif;
}
.descriptionHeader {
  text-align: left;
  text-transform:capitalize;
  text-decoration: underline;
}
.algorithm {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  text-align: left;
}
.text_container {
  color: #00FF00;
  text-align: left;
}
.text_container p.para {
  margin: 0;
}
.button {
  padding: 6px 15px 6px 15px;
  background-color: #0C090A;
  border: 3px solid #B6B6B4;
  color: #FFFFFF;
  font-size: 16px;
}
.console {
  background-color: #000000;
  border: 10px solid #CCC;
  color: #CCC;
  padding: 5px;
}
.console .fa-chevron-right {
  float: left;
}
