/*General*/

.description {
  padding: 15px 0 15px 0;
}

.descBody {
  text-align: left;
}

.reverse, .ceaser, .transposition, .affine, .substitution, .vigenere {
  padding: 15px 0 15px 0;
  text-align: center;
}

.box_container {
  margin: 15px 0 15px 0;
  color: #00FF00;
}

.text_container {
  background-color: #000000;
  margin: 10px 0 10px 0;
}
