/**General**/

.description {
  padding: 15px 0 15px 0;
}

.descBody {
  text-align: left;
}

 .ceaser, .transposition, .affine, .substitution, .vigenere {
  padding: 15px 0 15px 0;
  text-align: center;
}

.plain_container {
  color: #00FF00;
  text-align: left;
}

.plain_container p.para {
  margin: 0;
}

/**button**/
.button {
  padding: 6px 15px 6px 15px;
  background-color: #0C090A;
  border: 3px solid #B6B6B4;
  color: #FFFFFF;
  font-size: 16px;
}

.button:focus {
  background-color: #000000;
}

/**Console**/
.typed-cursor {
  display: none;
}
.fa {
  float: left;
}
.console {
  background-color: #000000;
  border: 10px solid #CCC;
  color: #CCC;
  display: block;
  padding: 5px;
}
