/**global**/

body {
  font-family: serif;
  background-color: #FEFCFF;
}

/**navigation bar**/

.nav-wrapper {
  background-color: #000000;
}

.nav-wrapper ul li {
  padding: 0 15px 0 15px;
  font-weight: bolder;
}

.nav-wrapper ul li a:hover {
  background-color: #2C3539;
  color: #FFFFFF;
}

.nav-wrapper ul li a {
  color: #FFFFFF;
}

.nav-wrapper #dropdownMenu {
  top: 45px !important;
  width: 150px !important;
  background-color: #000000;
}

.nav-wrapper #dropdownMenu li:hover {
  background-color: #2C3539;
}

.nav-wrapper #title {
  color: #FFFFFF;
  margin: 0 0 0 15px;
}

.nav-wrapper #hamburger {
  color: #FFFFFF;
  margin: 0 0 0 15px;
}

.nav-wrapper .side-nav {
  background-color: #000000;
}

/**info**/

.info {
  padding: 200px 0 310px;
  text-align: center;
  background-size: cover;
  background-image: url("../images/image.svg");
}

/**ciphers**/

.ciphers {
  text-align: center;
}

.ciphers .cipher {
  background-color: #000000;
  color: #FFFFFF;
}

.ciphers .cipher h2 {
  padding: 10px;
}

/**footer**/

.footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

.footer h6 {
  padding: 20px 0 25px 0;
}
