/**global**/
body {
  background-color: #FFFFFF;
  font-family: 'Electrolize', sans-serif;
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Special Elite', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Squada One', cursive;
  font-family: 'Bungee Inline', cursive;
  font-family: 'VT323', monospace;
  font-family: 'Electrolize', sans-serif;
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Stardos Stencil', cursive;
}

/**navigation bar**/
.nav-wrapper {
  background-color: #000000;
}

.nav-wrapper .top-bar ul:last-child {
  top: 45px !important;
  width: 150px !important;
  background-color: #000000;
}

.nav-wrapper ul li {
  padding: 0 15px 0 15px;
  font-weight: bolder;
}

.nav-wrapper ul li a {
  color: #FFFFFF;
}

.nav-wrapper ul li:hover {
  background-color: #2C3539;
}

.nav-wrapper #title {
  color: #FFFFFF;
  margin: 0 0 0 15px;
}

.nav-wrapper #hamburger {
  color: #FFFFFF;
  margin: 0 0 0 15px;
}

.nav-wrapper .side-nav {
  background-color: #000000;
}

/**info**/
.info {
  padding: 200px 0 310px;
  text-align: center;
  background-size: cover;
  background-image: url("../images/image.svg");
}

/**ciphers**/
.ciphers {
  text-align: center;
}
.ciphers .cipher {
  background-color: #000000;
  color: #FFFFFF;
}
.ciphers .cipher h2 {
  padding: 10px;
}
.ciphers .cipher a {
  color: #FFFFFF;
}

/**footer**/
.page-footer {
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
