<!DOCTYPE html>
<html>

  <% include ../components/head %>

  <body>

    <% include ../components/header %>

    <div class="vigenere">
      <h4 class="name">Vigenere Cipher</h4>

      <h5 class="description">Encryption</h5>

      <div class="row">
        <p class="descBody col s8 offset-s2">
          This is a polyalphabetic substitution cipher that that use characters of a sentence or word as keys.
          The characters are split into a multiple subkeys.
          The more letters are provided as keys, the stronger it will be the encrypted message. The key can be a combo
          of words and numbers just more make it more harder. A key of a sentence of 3 words is normally sufficient for a normal distribution.
          Mathematically the encryption can be denoted as C = (p, k) where j = 0.
        </p>
      </div>

      <h5 class="description">Decryption</h5>

      <div class="row">
        <p class="descBody col s8 offset-s2">
          Mathematically the decryption is p = x, c = (x,k) where j = i mod 6.
          Do not use a word in the dictionary because it will obviously make your code prone to dictionary attack.
          This mean that the hacker will attempt to unlock it with every word as key key in the dictionery.
          Cryptanalysis means that we find the words with high frequency.
          It was called the indecipherable cipher for a good reason.
          Kasinki examination. This cipher was regarded as unbreakable until charles baggage broke it but never published his papaer.
          Identify the patterns of three or more characters. Write down the begining position of each pattern.
          Compute the differences between the starting point and the ending point. Determine all the factors for the differences.
          Key is one of the most common factors.
        </p>
      </div>

      <div class="row">
        <div class="col l8 offset-l2">
          <div class="console">

            <div class="row">
              <div class="input-field col l12">
                <i class="fa fa-chevron-right"></i>
                <textarea id="textarea5" class="materialize-textarea"></textarea>
             </div>
            </div>

            <div class="row">
              <div class="col l12">
                <div class="plain_container">
                </div>
                <div class="cipher_container">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    <div class="row">
      <div class="col s12">
        <button id="encryptVig" class="activate button">Encrypt</button>
        <button class="button"><input id="key5" type="text" required></button>
        <button id="decryptVig" class="activate button">Decrypt</button>
      </div>
    </div>

    </div>

    <% include ../components/script %>

  </body>
</html>
